<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Mes entreprises", entreprises_path, class:"sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "Mes réservations", vos_reservations_path, class:"sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Mes rendez-vous", vos_rendez_vous_path, class:"sidebar-link" %></li>
    </ul>
  </div>
  <div class="col-md-9">
      <div class="panel panel-defautl">
        <div class="panel-heading"> Mes entreprises</div>
        <div class="panel-body">
          <% @entreprises.each do |entreprise| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag entreprise.photos[0].image.url(:thumb) if entreprise.photos.length > 0 %>
            </div>
            <div class="col-md-7">
              <h4><%= link_to entreprise.company_name, entreprise_path(entreprise) %></h4>
            </div>
            <div class="col-md-3 right">
              <%= link_to "Mettre à jour", edit_entreprise_path(entreprise), class:"btn btn-primary" %>
            </div>
          </div>
            <hr>
          <% end %>
        </div>
      </div>
  </div>
</div>