<%= content_for :meta_title, "Ajouter une entreprise sur Reparee" %>
<%= content_for :meta_description, "Ajouter une entreprise | #{DEFAULT_META["meta_description"]}" %>



<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->




<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <% if current_user.subscribed? && current_user.entreprises.count < 1 or current_user.premium? %>
          <%= render 'form' %>
        <% else %>
          <!-- Hero Start -->
          <section class="bg-half bg-light d-table w-100">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                  <div class="page-next-level">
                    <h4 class="title"> Ajouter votre entreprise sur Reparee </h4>
                    <div class="page-next">
                      <nav aria-label="breadcrumb" class="d-inline-block">
                        <ul class="breadcrumb bg-white rounded shadow mb-0">
                          <li class="breadcrumb-item"><%= link_to 'Accueil', root_path %></li>
                          <!--<li class="breadcrumb-item"><a href="#">Page</a></li>-->
                          <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Ajout entreprise', new_entreprise_path, :class => "breadcrumb-item active" %></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>  <!--end col-->
              </div><!--end row-->
            </div> <!--end container-->
          </section><!--end section-->
          <!-- Hero End -->

          <br><br><br><br><br>
                <!-- Profile Sidebar -->
                  <div class="col-md-12 col-lg-12 col-xl-12">

                    <h2 class="text-center">Vous devez être abonnés à la plateforme pour inscrire votre entreprise :
                    <%= link_to 'S\'abonner', abonnement_path %></h2>
                    <h2 class="text-center">Ou</h2>
                    <h2 class="text-center">Si vous avez déjà un abonnement pour ajouter votre entreprise, vous devez passer à l'abonnement premium :
                      <%= link_to 'S\'abonner', abonnement_path %></h2>

                  </div>
          <br><br><br><br><br>
        <% end %>
      </div>
    </div>
  </div>
</div>