<!-- Page Content -->
<div class="content">
  <div class="container">

    <!-- Doctor Widget -->
    <div class="card">
      <div class="card-body">
        <div class="doctor-widget">
          <div class="doc-info-left">
            <div class="doctor-img">
              <%= image_tag @photos[0].image.url(), class:"img-fluid" if @photos.length > 0 %>
            </div>
            <div class="doc-info-cont">
              <h4 class="doc-name"><%= @entreprise.company_name %></h4>
              <p class="doc-speciality"><%= image_tag 'maps-and-location.png', :class => "img-fluid" %><%= @entreprise.address %></p>
              <% if @entreprise.artisan_type == 'Plombier' %>
                <h5 class="doc-department"><%= image_tag 'repair.png', :class => "img-fluid" %>Plombier</h5>
              <% elsif @entreprise.artisan_type == 'Serrurier' %>
                <h5 class="doc-department"><%= image_tag 'password.png', :class => "img-fluid" %>Serrurier</h5>
              <% end %>
              <div class="rating">
                <span class="d-inline-block average-rating">(35)</span>
              </div>
              <div class="clinic-services">
                <% if @entreprise.artisan_type == "Plombier" %>
                  <span>Dépannage de fuite</span>
                  <span>Débouchage de canalisation</span>
                  <span>Remplacement de lavabo</span>
                <% elsif @entreprise.artisan_type == 'Serrurier' %>
                  <span>Ouverture de Porte Fermée</span>
                  <span>Remplacement de Serrure</span>
                  <span>Installation Verrou de sécurité</span>
                <% end %>
              </div>
            </div>
          </div>
          <div class="doc-info-right">
            <div class="clini-infos">
              <ul>
                <li><i class="far fa-thumbs-up"></i> 98%</li>
                <li><i class="far fa-comment"></i> <%= @entreprise.reviews.count %> Avis</li>
                <li><%= image_tag 'phone.png', :class => 'img-fluid' %> = <%= @entreprise.phone %></li>
                <li><%= image_tag 'internet.png', :class => 'img-fluid' %> = <%= @entreprise.linkweb %></li>
              </ul>
            </div>
            <div class="clinic-booking">
              <a class="apt-btn" href="#booking" data-toggle="tab">Rendez-vous</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Doctor Widget -->

    <!-- Doctor Details Tab -->
    <div class="card">
      <div class="card-body pt-0">

        <!-- Tab Menu -->
        <nav class="user-tabs mb-4">
          <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
            <li class="nav-item">
              <a class="nav-link active" href="#doc_overview" data-toggle="tab">Détails</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#doc_locations" data-toggle="tab">Localisation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#doc_reviews" data-toggle="tab">Avis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#doc_business_hours" data-toggle="tab">Horaires</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#galerie" data-toggle="tab">Galerie</a>
            </li>
          </ul>
        </nav>
        <!-- /Tab Menu -->

        <!-- Tab Content -->
        <div class="tab-content pt-0">

          <!-- Overview Content -->
          <div role="tabpanel" id="doc_overview" class="tab-pane active">
            <div class="row">
              <div class="col-md-12 col-lg-9">

                <!-- About Details -->
                <div class="widget about-widget">
                  <h4 class="widget-title">Description</h4>
                  <p><%= @entreprise.summary %></p>
                  <h4>Fomre juridique :</h4>
                  <p><%= @entreprise.legal_form %></p>
                  <h4>SIREN :</h4>
                  <p><%= @entreprise.siren %></p>
                  <h4>SIRET :</h4>
                  <p><%= @entreprise.siret %></p>
                  <h4>Code NAF :</h4>
                  <p><%= @entreprise.code_naf %></p>
                </div>
                <!-- /About Details -->

                <!-- Services List -->
                <div class="service-list">
                  <h4>Services</h4>
                  <ul class="clearfix">
                    <li>installation de sanitaire</li>
                    <li>débouchage de canalisation</li>
                    <li>détection de fuite d'eau</li>
                    <li>dépannage de chaudière</li>
                    <li>dépannage ballon d'eau chaude</li>
                    <li>dépannage de canalisation</li>
                    <li>débouchage d'évier</li>
                    <li>installation de wc</li>
                    <li>fuite de robinet</li>
                  </ul>
                </div>
                <!-- /Services List -->

              </div>
            </div>
          </div>
          <!-- /Overview Content -->

          <!-- Locations Content -->
          <div role="tabpanel" id="doc_locations" class="tab-pane">

            <!-- Google maps -->
            <div class="row">
              <div class="col-md-12">
                <div id="map"></div>
                <style>
                  /* Set the size of the div element that contains the map */
                  #map {
                    height: 400px;  /* The height is 400 pixels */
                    width: 100%;  /* The width is the width of the web page */
                  }
                </style>

                <script>
                    function initMap() {
                        var uluru = {lat: <%= @entreprise.latitude %>, lng: <%= @entreprise.longitude %>};
                        var map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 15, center: uluru});
                        var marker = new google.maps.Marker({position: uluru, map: map});
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7nfC1RXPay13Icx6spnqH3uXdITt5GRI&callback=initMap">
                </script>

              </div>
            </div>

          </div>
          <!-- /Locations Content -->

          <!-- Reviews Content -->
          <div role="tabpanel" id="doc_reviews" class="tab-pane">

            <!-- Reviews -->
            <div class="row">
              <div class="col-md-12">
                <h3><%= pluralize(@reviews.count, 'commentaires') %> <span id="average_rating"></span> (<%= @reviews.count %>)</h3>
                <div class="container">
                  <div>
                    <%= render 'reviews/form' if @booked && !@hasReview %>
                  </div>
                  <div>
                    <%= render 'reviews/list' %>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- /Reviews Content -->

          <!-- Business Hours Content -->
          <div role="tabpanel" id="doc_business_hours" class="tab-pane">
            <div class="row">
              <div class="col-md-6 offset-md-3">

                <!-- Business Hours Widget -->
                <div class="widget business-widget">
                  <div class="widget-content">
                    <div class="listing-hours">
                      <div class="listing-day">
                        <div class="day">Monday</div>
                        <div class="time-items">
                          <span class="time">07:00 AM - 09:00 PM</span>
                        </div>
                      </div>
                      <div class="listing-day">
                        <div class="day">Tuesday</div>
                        <div class="time-items">
                          <span class="time">07:00 AM - 09:00 PM</span>
                        </div>
                      </div>
                      <div class="listing-day">
                        <div class="day">Wednesday</div>
                        <div class="time-items">
                          <span class="time">07:00 AM - 09:00 PM</span>
                        </div>
                      </div>
                      <div class="listing-day">
                        <div class="day">Thursday</div>
                        <div class="time-items">
                          <span class="time">07:00 AM - 09:00 PM</span>
                        </div>
                      </div>
                      <div class="listing-day">
                        <div class="day">Friday</div>
                        <div class="time-items">
                          <span class="time">07:00 AM - 09:00 PM</span>
                        </div>
                      </div>
                      <div class="listing-day">
                        <div class="day">Saturday</div>
                        <div class="time-items">
                          <span class="time">07:00 AM - 09:00 PM</span>
                        </div>
                      </div>
                      <div class="listing-day closed">
                        <div class="day">Sunday</div>
                        <div class="time-items">
                          <span class="time"><span class="badge bg-danger-light">Closed</span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Business Hours Widget -->

              </div>
            </div>
          </div>
          <!-- /Business Hours Content -->

          <!-- Business Hours Content -->
          <div role="tabpanel" id="booking" class="tab-pane">
            <div class="row">
              <div class="col-md-12">
                <!-- Formulaire de réservation -->
                <%= render 'reservations/form' %>
              </div>
            </div>
          </div>
          <!-- /Business Hours Content -->

          <div role="tabpanel" id="galerie" class="tab-pane">
            <!-- Caroussel -->
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <% if @photos %>
                    <% @photos.each do |photo| %>
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
                      </ol>
                    <% end %>
                  <% end %>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <% if @photos %>
                      <% @photos.each do |photo| %>
                        <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                          <%= image_tag photo.image.url() %>
                        </div>
                      <% end %>
                    <% end %>

                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Précédent</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Suivant</span>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- /Doctor Details Tab -->


  </div>
</div>
<!-- /Page Content -->



