<p>Bonjour <%= @user.fullname %></p>

<p>Votre rendez-vous avec l'entreprise (<%= @entreprise.company_name %>) est prévu le
  <%= @reservation.start_date.strftime('%d.%m.%y') %> à <%= @reservation.hour %> <%= @reservation.minute %>.</p>

<%= image_tag 'logo-reparee.png' %>