<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title"> Mes messages </h4>
          <div class="page-next">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><%= link_to 'Accueil', root_path %></li>
                <li class="breadcrumb-item"><%= link_to 'Messages', conversation_messages_path %></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>  <!--end col-->
    </div><!--end row-->
  </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->



<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3 text-center">
        <%= image_tag avatar_url(@other), class:"img-circle avatar-medium" %><br>
        <strong><%= @other.fullname %></strong>
        <%#<%= link_to "Voir profil", @other, class:"btn btn-default wide" %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            Discussion avec <%= @other.fullname %>
          </div>
          <div class="panel-body">
            <div class="container">
              <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
                <div class="form-group">
                  <%= f.text_area :content, placeholder:"Votre message...", class:"form-control" %>
                </div>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <div class="actions">
                  <%= f.submit "Envoyer un message", class:"btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div id="chat">
          <%= render @messages, locals: {conversation: @conversation} %>
        </div>
      </div>
    </div>

  </div>
</div>