<!-- Hero Start -->
<section class="bg-home d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-6">
        <div class="mr-lg-5">
          <%= image_tag 'user/signup', :class => "img-fluid d-block mx-auto", :alt => "image-de-connexion" %>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="card login_page shadow rounded border-0">
          <div class="card-body">
            <h4 class="card-title text-center">Inscription</h4>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "shared/devise_errors" %>
            <form class="login-form mt-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Nom complet <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <%= f.text_field :fullname, autofocus: true, class: "form-control pl-5", placeholder: "Nom complet" %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Votre mail <span class="text-danger">*</span></label>
                    <i data-feather="mail" class="fea icon-sm icons"></i>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control pl-5", placeholder: "Adresse email" %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Password <span class="text-danger">*</span></label>
                    <i data-feather="key" class="fea icon-sm icons"></i>
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control pl-5", placeholder: "Créer un mot de passe" %>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">J'accepte les <a href="#" class="text-primary">conditions</a></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-primary btn-block">Inscription</button>
                </div>
                <div class="mx-auto">
                  <p class="mb-0 mt-3"><small class="text-dark mr-2">Vous avez un compte ?</small> <a href="auth-login.html" class="text-dark font-weight-bold">Connexion</a></p>
                </div>
              </div>
            </form>
            <% end %>
          </div>
        </div>
      </div> <!--end col-->
    </div><!--end row-->
  </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->