<%= @user.email %>
<p><%= @user.fullname %></p>
<%= image_tag avatar_url(@user) %>

<% if current_user != @user %>
  <div class="row-space-2">
    <%= link_to "Envoyer un message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class:"btn btn-primary" %>
  </div>
<% end %>


<h4>Evaluation</h4>
<br>
<% @entreprises.each do |entreprise| %>
  <% if !entreprise.reviews.blank? %>
    <% entreprise.reviews.each do |review| %>
      <div class="row">
        <div class="col-md-2 text-center">
          <%= image_tag avatar_url(review.user), class:"img-circle avatar-medium" %><br>
          <%= review.user.fullname %>
        </div>
        <div class="col-md-10">
          <%= link_to entreprise.company_name, entreprise %><br>
          <%= review.comment %><br>
          <%= review.created_at.strftime("(%d/%m/%y)") %>
        </div>
      </div>
  <% end %>
<% end %>
<% end %>