<div class="site-section" id="features-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
      <div class="col-7 text-center  mb-5">
        <h2 class="section-title">Mise en relation d'artisans et de clients</h2>
        <p class="lead">L'artisanat est au coeur de la transformation digitale, nous révolutionnons le secteur avec Reparee.</p>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">

            <%= image_tag "repair.png", :class => "text-primary icon-autorenew" %>
          </div>
          <div>
            <h3>Artisans expérimentés</h3>
            <!--<p><a href="#">Learn More</a></p>-->
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <%= image_tag "customer-service.png", :class => "text-primary icon-autorenew" %>
          </div>
          <div>
            <h3>Service 7j/7 intervention 24h/24</h3>
            <!--<p><a href="#">Learn More</a></p>-->
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <%= image_tag "euro.png", :class => "text-primary icon-autorenew" %>
          </div>
          <div>
            <h3>100% gratuit pour les clients</h3>
            <!--<p><a href="#">Learn More</a></p>-->
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <%= image_tag "contact.png", :class => "text-primary icon-autorenew" %>
          </div>
          <div>
            <h3>Communication avec les artisans</h3>
            <!--<p><a href="#">Learn More</a></p>-->
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <%= image_tag "checklist.png", :class => "text-primary icon-autorenew" %>
          </div>
          <div>
            <h3>Prise de rendez-vous en ligne</h3>
            <!--<p><a href="#">Learn More</a></p>-->
          </div>
        </div>


      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <%= image_tag "book.png", :class => "text-primary icon-autorenew" %>
          </div>
          <div>
            <h3>Annuaire</h3>
            <!--<p><a href="#">Learn More</a></p>-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="feature-big">
  <div class="container">
    <div class="row mb-5 site-section">
      <div class="col-lg-7" data-aos="fade-right">
        <%= image_tag "undraw_gift_card_6ekc.svg", :class => "img-fluid" %>
      </div>
      <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
        <h2 class="text-black">Reparee permet de trouver aux personnes un artisans expérimentés</h2>
        <!--<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem neque nisi architecto autem molestias corrupti officia veniam.</p>-->

        <div class="author-box" data-aos="fade-left">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded-circle">
            </div>
            <div class="mr-auto text-black">
              <strong class="font-weight-bold mb-0">Grey Simpson</strong> <br>
              Co-Founder, XYZ Inc.
            </div>
          </div>
          <blockquote>&ldquo;Prise de contact rapide et facile. Artisans très professionnels, je recommande !&rdquo;</blockquote>
        </div>
      </div>
    </div>

    <div class="mt-5 row mb-5 site-section ">
      <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
        <%= image_tag "undraw_metrics_gtu7.svg", :class => "img-fluid" %>
      </div>
      <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
        <h2 class="text-black">Reparee permet aux artisans de développer leurs entreprises</h2>
        <!--<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem neque nisi architecto autem molestias corrupti officia veniam</p>-->



        <div class="author-box" data-aos="fade-right">
          <div class="d-flex mb-4">
            <div class="mr-3">
              <%= image_tag "smb-logo.png", :class => "img-fluid" %>
            </div>
            <div class="mr-auto text-black">
              <strong class="font-weight-bold mb-0">SMB dépannage</strong> <br>
              Entreprise de dépannage en plomberie et serrurerie
            </div>
          </div>
          <blockquote>&ldquo;Reparee m'a permit d'augmenter considérablement le chiffre d'affaire de mon entreprise&rdquo;</blockquote>
        </div>
      </div>
    </div>
  </div>
</div>