<!-- Start Home -->
<section class="bg-home d-flex align-items-center bg-animation-left task-management-home" style="height: auto;" id="home">
  <div class="container position-relative" style="z-index: 1;">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center mt-0 mt-md-5 pt-0 pt-md-5">
        <div class="title-heading margin-top-100">
          <h1 class="heading text-white title-dark mb-3">Trouver un artisan près de chez vous</h1>
          <p class="para-desc mx-auto text-white-50">Reparee vous propose de trouver un expert dans n'importe quel domaine de l'artisanat qui pourra résoudre vos problèmes en un clin d'oeil.</p>
          <!--          <div class="text-center subcribe-form mt-4 pt-2">
                      <form>
                        <div class="form-group mb-0">
                          <input type="email" id="email" name="email" class="border rounded-pill" required placeholder="Email Address">
                          <input type="text" id="course" name="name" class="order rounded-pill" placeholder="Search your course">
                          <select class="form-control border rounded-pill">
                            <option>Default select</option>
                          </select>
                          <button type="submit" class="btn btn-pills btn-primary">Get Started</button>
                        </div>
                      </form>
                    </div>-->

          <div class="title-heading text-center mt-4 mt-md-5 pt-md-5">
              <%= form_tag search_path, method: :get, class: "rounded p-4 mt-4 bg-white" do %>
                <div class="row text-left">
                  <div class="col-lg-5 col-md-4">
                    <div class="form-group mb-0">
                      <%= text_field_tag :search, params[:search], placeholder: "Dans quelle ville ?", class:"form-control" %>
                    </div>
                  </div><!--end col-->

                  <div class="col-lg-7 col-md-8">
                    <div class="row align-items-center">
                      <div class="col-md-8 mt-8 mt-sm-0">
                        <div class="form-group mb-0">
                          <%= select :artisan_type, params[:artisan_type], [["Plombier","Plombier"],["Serrurier","Serrurier"]], {}, {placeholder: "Quelle type d'artisan ?", class:"form-control custom-select"} %>
                        </div>
                      </div><!--end col-->

                      <div class="col-md-4 mt-4 mt-sm-0">
                        <%= submit_tag "Rechercher", class:"searchbtn btn btn-primary btn-block p" %>
                      </div><!--end col-->
                    </div><!--end row-->
                  </div> <!---end col-->
                </div><!--end row-->
              <% end %>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <div class="home-dashboard">
              <%= image_tag "laptop.png", :class => "img-fluid", :alt => "dashboard" %>
            </div>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- End Home -->

<!-- Features Start -->
<section class="section mt-0 mt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="features text-center">
          <div class="image position-relative d-inline-block">
            <%= image_tag "icon/clipboard", :class => "avatar avatar-small" %>
          </div>

          <div class="content mt-4">
            <h4 class="title-2">Simple d'utilisation</h4>
            <p class="text-muted mb-0">Reparee permet d'enregistrer votre entreprise et d'être visible pour les particuliers qui ont besoin de votre aide.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-4 col-12 mt-5 mt-sm-0">
        <div class="features text-center">
          <div class="image position-relative d-inline-block">
            <%= image_tag "icon/shield", :class => "avatar avatar-small" %>
          </div>

          <div class="content mt-4">
            <h4 class="title-2">Sécurisée</h4>
            <p class="text-muted mb-0">La plateforme est parfaitement sécurisée avec les nouvelles technologies web.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-4 col-12 mt-5 mt-sm-0">
        <div class="features text-center">
          <div class="image position-relative d-inline-block">
            <%= image_tag "icon/vector", :class => "avatar avatar-small" %>
          </div>

          <div class="content mt-4">
            <h4 class="title-2">Rentable</h4>
            <p class="text-muted mb-0">En étant vu sur une plateforme bien référencée auprès des particuliers, vous augmenterez votre chiffre d'affaire.</p>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <%= image_tag "illustrator/Marketing_strategy_SVG" %>
      </div><!--end col-->

      <div class="col-lg-6 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="section-title ml-lg-5">
          <h1 class="text-primary"><i class="uil uil-schedule"></i></h1>
          <h4 class="title mb-4">Atteignez plus de cibles</h4>
          <p class="text-muted">En vous inscrivant sur Reparee vous serez visible auprès de nombreuses personnes et vous aurez donc la possibilité d'augmenter votre chiffre d'affaire trés rapidement.</p>
          <ul class="list-unstyled text-muted">
            <li><i data-feather="arrow-right-circle" class="fea icon-sm text-primary mr-2"></i>Si vouis êtes artisan : Augmenter votre visibilité sur internet</li>
            <li><i data-feather="arrow-right-circle" class="fea icon-sm text-primary mr-2"></i>Si vous êtes particulier : Trouver l'artisan dont vous avez besoin</li>
          </ul>
          <!--<a href="javascript:void(0)" class="mt-3 h6 text-primary">Find Out More <i class="mdi mdi-chevron-right"></i></a>-->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 order-1 order-md-2">
        <%= image_tag "task/task.svg", :class => "img-fluid" %>
      </div><!--end col-->

      <div class="col-lg-6 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0 order-2 order-md-1">
        <div class="section-title mr-lg-5">
          <h1 class="text-primary"><i class="uil uil-list-ui-alt"></i></h1>
          <h4 class="title mb-4">Ne vous souciez plus des prises de rendez-vous</h4>
          <p class="text-muted">Reparee est une solution SaaS qui vous permet d'avoir une gestion de vos rendez-vous.</p>
          <ul class="list-unstyled text-muted">
            <li><i data-feather="arrow-right-circle" class="fea icon-sm text-primary mr-2"></i>Si vous êtes un artisan : suivez les prises de rendez-vous demandé par des particuliers.</li>
            <li><i data-feather="arrow-right-circle" class="fea icon-sm text-primary mr-2"></i>Si vous êtes particulier : Faites une prise de rendez-vous avec un artisan.</li>
          </ul>
         <!-- <a href="javascript:void(0)" class="mt-3 h6 text-primary">Find Out More <i class="mdi mdi-chevron-right"></i></a>-->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-12">
        <div class="sticky-bar">
          <div class="section-title text-lg-left text-center mb-4 mb-lg-0 pb-2 pb-lg-0">
            <h4 class="title mb-4">Excellentes fonctionnalités</h4>
            <p class="text-muted para-desc mb-0 mx-auto">Commencez à travailler avec <span class="text-primary font-weight-bold">Reparee</span> qui vous permettra d'avoir accès à des fonctionnalités avancées.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-lg-8 col-12">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="row">
              <div class="col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                                            <span class="h1 icon2 text-primary">
                                                <i class="uil uil-meeting-board"></i>
                                            </span>
                  <div class="card-body p-0 content">
                    <h5>Annuaire des artisans</h5>
                    <p class="para text-muted mb-0">Référencement des meilleurs artisans pour chaque villes.</p>
                  </div>
                </div>
              </div><!--end col-->

              <div class="col-12 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                                            <span class="h1 icon2 text-primary">
                                                <i class="uil uil-schedule"></i>
                                            </span>
                  <div class="card-body p-0 content">
                    <h5>Gestion des rendez-vous</h5>
                    <p class="para text-muted mb-0">Si vous êtes particulier vous pouvez prendre rendez-vous avec l'artisan de votre choix, si vous êtes artisan vous avez un système, de gestion de rendez-vous.</p>
                  </div>
                </div>
              </div><!--end col-->

              <!--<div class="col-12 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                                            <span class="h1 icon2 text-primary">
                                                <i class="uil uil-clock"></i>
                                            </span>
                  <div class="card-body p-0 content">
                    <h5>Task Tracking</h5>
                    <p class="para text-muted mb-0">It is a long established fact that a reader will be of a page reader will be of at its layout.</p>
                  </div>
                </div>
              </div>--><!--end col-->
            </div><!--end row-->
          </div><!--end col-->

          <div class="col-md-6">
            <div class="row">
              <div class="col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                                            <span class="h1 icon2 text-primary">
                                                <i class="uil uil-calender"></i>
                                            </span>
                  <div class="card-body p-0 content">
                    <h5>Calendrier</h5>
                    <p class="para text-muted mb-0">Si vous êtes artisan vous avez une page permettant de consulter les réservations qui sont faites pour prendre rendez-vous avec votre entreprise et si vous êtes particulier une page de demande de rendez-vous permettra de visualiser l'avancement de la consultation avec votre artisan.</p>
                  </div>
                </div>
              </div><!--end col-->

              <div class="col-12 mt-4 pt-2">
                <div class="card features fea-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
                                            <span class="h1 icon2 text-primary">
                                                <i class="uil uil-presentation-plus"></i>
                                            </span>
                  <div class="card-body p-0 content">
                    <h5>Collaboration</h5>
                    <p class="para text-muted mb-0">Si vous êtes artisan, inscrivez-vous afin d'être référencé sur la plateforme et obtenir rapidement vos premiers clients.</p>
                  </div>
                </div>
              </div><!--end col-->

              <div class="col-12 mt-4 pt-2 text-center text-md-left">
                <%= link_to 'En savoir plus', services_path, :class =>"btn btn-primary" %>
              </div><!--end col-->
            </div><!--end row-->
          </div><!--end col-->
        </div><!--end row-->
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title mb-4">Enregistrer votre entreprise</h4>
          <p class="text-muted para-desc mb-0 mx-auto">Démarrer votre collaboration avec <span class="text-primary font-weight-bold">Reparee</span> pour générer des clients rapidement.</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row align-items-end">
      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="pricing text-center rounded overflow-hidden shadow">
          <div class="price-header border-bottom pt-5 pb-5">
            <h1 class="text-primary"><i class="uil uil-lightbulb-alt"></i></h1>
            <h5 class="price-title">Basique</h5>
            <p class="mb-0 text-muted">Idéal pour les particuliers</p>
          </div>
          <div class="border-bottom py-4">
            <h2 class="font-weight-bold">€ 0.00</h2>
            <h6 class="text-muted mb-0 font-weight-normal">Billed monthly per user</h6>
            <%= link_to 'Inscription gratuite', new_user_session_path, class:"btn btn-primary mt-4" %>
          </div>
          <div class="pricing-features text-left p-4">
            <h5>Ce qui est inclus:</h5>
            <ul class="feature list-unstyled mb-0">
              <li class="text-muted"><i data-feather="arrow-right" class="fea icon-sm text-dark mr-2"></i>Accès à vie</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-dark mr-2"></i>Prise de rendez-vous avec artisan</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-dark mr-2"></i>24/7 Support</li>
              <br><br><br>
            </ul>
          </div>
        </div><!--end price three-->
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="pricing text-center rounded overflow-hidden shadow-lg">
          <div class="price-header border-bottom bg-primary pt-5 pb-5">
            <h1 class="text-white-50"><i class="uil uil-award"></i></h1>
            <h5 class="price-title text-white">Professionnel</h5>
            <p class="mb-0 text-light">Idéal pour les petites entreprises</p>
          </div>
          <div class="border-bottom py-5">
            <h2 class="font-weight-bold">€ 59.00</h2>
            <h6 class="text-muted mb-0 font-weight-normal">Par mois et par utilisateur</h6>
            <%= link_to 'Souscrire', new_subscriber_path, :class => "btn btn-primary mt-4" %>
          </div>
          <div class="pricing-features text-left p-4">
            <h5>Ce qui est inclus:</h5>
            <ul class="feature list-unstyled mb-0">
              <li class="text-muted"><i data-feather="arrow-right" class="fea icon-sm text-primary mr-2"></i>1 entreprise</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-primary mr-2"></i>Accès à vie</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-primary mr-2"></i>Accessible directement dans les résultats de recherche</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-primary mr-2"></i>24/7 Support</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-primary mr-2"></i>Gestion des RDV</li>
            </ul>
          </div>
        </div><!--end price three-->
      </div><!--end col-->

      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="pricing text-center rounded overflow-hidden shadow">
          <div class="price-header border-bottom pt-5 pb-5">
            <h1 class="text-primary"><i class="uil uil-briefcase-alt"></i></h1>
            <h5 class="price-title">Premium</h5>
            <p class="mb-0 text-muted">Idéal pour toutes les entreprises</p>
          </div>
          <div class="border-bottom py-4">
            <h2 class="font-weight-bold">€ 89.00</h2>
            <h6 class="text-muted mb-0 font-weight-normal">Par mois et par utilisateur</h6>
            <%= link_to 'Start Premium', new_premium_path, :class => "btn btn-primary mt-4" %>
          </div>
          <div class="pricing-features text-left p-4">
            <h5>Ce qui est inclus:</h5>
            <ul class="feature list-unstyled mb-0">
              <li class="text-muted"><i data-feather="arrow-right" class="fea icon-sm text-dark mr-2"></i>Entreprise illimitées</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-primary mr-2"></i>Accès à vie</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-primary mr-2"></i>Accessible directement dans les résultats de recherche</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-primary mr-2"></i>24/7 Support</li>
              <li class="text-muted mt-2"><i data-feather="arrow-right" class="fea icon-sm text-primary mr-2"></i>Gestion des RDV</li>
            </ul>
          </div>
        </div><!--end price three-->
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="media">
          <i data-feather="help-circle" class="fea icon-ex-md text-primary mr-2 mt-1"></i>
          <div class="media-body">
            <h5 class="mt-0">Comment marche <span class="text-primary">Reparee</span> ?</h5>
            <p class="answer text-muted mb-0">Reparee est un annuaire en ligne permettant aux particuliers de trouver l'artisan dont ils ont besoins et une solution SaaS pour les artisans qui souhaitent avoir une meilleure notoriété et avoir un système de gestion des rendez-vous.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="media">
          <i data-feather="help-circle" class="fea icon-ex-md text-primary mr-2 mt-1"></i>
          <div class="media-body">
            <h5 class="mt-0"> C'est quoi le process pour prendre rendez-vous avec un artisan ?</h5>
            <p class="answer text-muted mb-0">Vous devez tout simplement vous enregistrez sur la plateforme et rechercher l'artisan avec qui vous souhaitez prendre rendez grâce à la barre de recherche et ensuite sélectionner un créneau dans la fonctionnalité de rendez-vous.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="media">
          <i data-feather="help-circle" class="fea icon-ex-md text-primary mr-2 mt-1"></i>
          <div class="media-body">
            <h5 class="mt-0"> J'ai une grande entreprise avec un département plomberie et de serrurerie comment dois-je faire ?</h5>
            <p class="answer text-muted mb-0">Reparee propose l'offre premium adapté le plus souvent aux grandes entreprises afin qu'elles puissent référencer l'ensemble de leurs activités.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="media">
          <i data-feather="help-circle" class="fea icon-ex-md text-primary mr-2 mt-1"></i>
          <div class="media-body">
            <h5 class="mt-0"> Est-ce que sur <span class="text-primary">Reparee</span> les artisans sont de confiance ?</h5>
            <p class="answer text-muted mb-0">Reparee ne référence que des artisans dont le travail est reconnu dans le domaine et on un passé satisfaisant.</p>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row mt-5 pt-4 justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <h4 class="title mb-4">Vous avez une question ? Contactez-nous !</h4>
          <p class="text-muted para-desc mx-auto">Commencez à travailler avec <span class="text-primary font-weight-bold">Reparee</span> qui peut vous fournir tout ce dont vous avez besoin pour générer de la notoriété, générer du trafic et vous connecter.</p>
          <a href="page-contact-two.html" class="btn btn-primary mt-4"><i class="mdi mdi-phone"></i> Contactez-nous</a>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- Features End -->