<!-- Home Banner -->
<section class="section section-search">
  <div class="container-fluid">
    <div class="banner-wrapper">
      <div class="banner-header text-center">
        <h1>Trouver un artisan près de chez vous</h1>
        <p>Découvrer les meilleurs artisans près de chez vous.</p>
      </div>

      <!-- Search -->
      <div class="search-box">
        <%= form_tag search_path, method: :get do %>
            <div class="form-group search-location">
                <%= text_field_tag :search, params[:search], placeholder: "Dans quelle ville ?", class:"form-control" %>
                <!--<span class="form-text">Basé sur votre localisation</span>-->
            </div>
            <div class="form-group search-info">
                <%= select :artisan_type, params[:artisan_type], [["Plombier","Plombier"],["Serrurier","Serrurier"]], placeholder: "Quelle type d'artisan ?", :class => "select form-control" %>
            </div>
            <div class="col-md-2">
                <%= submit_tag "Rechercher", class:"btn btn-primary search-btn" %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- /Search -->

    </div>
</section>
<!-- /Home Banner -->

<!-- Clinic and Specialities -->
<section class="section section-specialities">
  <div class="container-fluid">
    <div class="section-header text-center">
      <h2>Les spécialitées des artisans</h2>
      <p class="sub-title">Reparee vous propose de trouver un expert dans n'importe quel domaine de l'artisanant qui pourra résoudre vos problèmes en un clin d'oeil.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-9">
        <!-- Slider -->
        <div class="specialities-slider slick-slider">

          <!-- Slider Item -->
          <div class="speicality-item text-center">
            <div class="speicality-img">
              <%= image_tag 'repair.png', :class => "img-fluid" %>
            </div>
            <p>Plombier</p>
          </div>
          <!-- /Slider Item -->

          <!-- Slider Item -->
          <div class="speicality-item text-center">
            <div class="speicality-img">
              <%= image_tag 'password.png', :class => "img-fluid" %>
            </div>
            <p>Serrurier</p>
          </div>
          <!-- /Slider Item -->

          <!-- Slider Item -->
          <div class="speicality-item text-center">
            <div class="speicality-img">
              <%= image_tag 'roller.png', :class => "img-fluid" %>
            </div>
            <p>Peintre</p>
          </div>
          <!-- /Slider Item -->

          <!-- Slider Item -->
          <div class="speicality-item text-center">
            <div class="speicality-img">
              <%= image_tag 'electrician.png', :class => "img-fluid" %>
            </div>
            <p>Electricien</p>
          </div>
          <!-- /Slider Item -->

          <!-- Slider Item -->
          <div class="speicality-item text-center">
            <div class="speicality-img">
              <%= image_tag 'window.png', :class => "img-fluid" %>
            </div>
            <p>Vitrier</p>
          </div>
          <!-- /Slider Item -->

        </div>
        <!-- /Slider -->

      </div>
    </div>
  </div>
</section>
<!-- Clinic and Specialities -->


<div class="row row-grid">
  <% @entreprises.each do |entreprise| %>
  <div class="col-md-4">
    <div class="card widget-profile pat-widget-profile">
      <div class="card-body">
        <div class="pro-widget-content">
          <div class="profile-info-widget">
            <a href="patient-profile.html" class="booking-doc-img">
              <%= image_tag entreprise.photos[0].image.url(:medium) if entreprise.photos.length > 0 %>
            </a>
            <div class="profile-det-info">
              <h3><%= link_to entreprise.company_name, entreprise %></h3>

              <div class="patient-details">
                <h5><b>Patient ID :</b> P0016</h5>
                <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Alabama, USA</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="patient-info">
          <ul>
            <li>Phone <span>+1 952 001 8563</span></li>
            <li>Age <span>38 Years, Male</span></li>
            <li>Blood Group <span>AB+</span></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- Popular Section -->
<section class="section section-doctor">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-header ">
          <h2>Fixer un rendez-vous avec un artisan</h2>
          <p>Explorer l'ensemble des artisans présents sur la plateforme. Choisissez celui qui vous convient.</p>
        </div>
        <div class="about-content">
          <p>Toutes les catégories artisanales sont présentes sur la plateforme.</p>
          <p>Vous pouvez échanger avec les artisans sur la plateforme et également voir les feedback des autres utilisateurs.</p>
          <p>Prenez rendez-vous avec l'artisan que vous voulez et laisser un avis après service rendu.</p>
          <%= link_to 'En savoir plus', features_path %>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="doctor-slider slider">
          <% @entreprises.each do |entreprise| %>
            <div class="col-md-12">
              <div class="card widget-profile pat-widget-profile">
                <div class="card-body">
                  <div class="pro-widget-content">
                    <div class="profile-info-widget">
                      <a href="patient-profile.html" class="booking-doc-img">
                        <%= image_tag entreprise.photos[0].image.url(:medium) if entreprise.photos.length > 0 %>
                      </a>
                      <div class="profile-det-info">
                        <h3><%= link_to entreprise.company_name, entreprise %></h3>

                        <div class="patient-details">
                          <h5><b>Patient ID :</b> P0016</h5>
                          <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> Alabama, USA</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="patient-info">
                    <ul>
                      <li>Phone <span>+1 952 001 8563</span></li>
                      <li>Age <span>38 Years, Male</span></li>
                      <li>Blood Group <span>AB+</span></li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Popular Section -->
