<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title"> Recherche entreprise </h4>
          <div class="page-next">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><%= link_to 'Accueil', root_path %></li>
                <!--<li class="breadcrumb-item"><a href="#">Page</a></li>-->
              </ul>
            </nav>
          </div>
        </div>
      </div>  <!--end col-->
    </div><!--end row-->
  </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!-- Job List Start -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="sidebar sticky-bar p-4 rounded shadow">
          <!-- SEARCH -->
          <div class="widget mb-4 pb-4 border-bottom">
            <h4 class="widget-title">Dans quelle ville ?</h4>
            <div id="jobkeywords" class="widget-search mt-4 mb-0">
                <%= search_form_for @search, url: search_path, class: "searchform" do |f| %>

                <%= f.text_field :address_cont, placeholder:"Ville", class:"border rounded" %>

            </div>
          </div>
          <!-- SEARCH -->

          <!-- CATAGORIES -->
          <div class="widget mb-4 pb-4 border-bottom">
            <h4 class="widget-title">Catégorie</h4>
            <div class="form-group mt-4 mb-0">
              <%= f.select :artisan_type_eq, [["Plombier","Plombier"],["Serrurier","Serrurier"]], {}, id: "artisan_type", prompt:"A sélectionner...", class:"form-control custom-select" %>
            </div>
          </div>
          <!-- CATAGORIES -->

                  <%= f.submit "Rechercher", class:"btn btn-outline-primary btn-block" %>
                <% end %>

        </div>
      </div><!--end col-->


      <div class="col-lg-8 col-md-6 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <div class="row">
          <% if @arrReparee.empty? %>
           <!-- Aucuns artisans actuellement enregistré -->

            <% @products.each do |entreprise| %>
              <div class="col-lg-6 col-12 mb-4 pb-2">
                <div class="card job-box rounded shadow border-0 overflow-hidden">
                  <div class="border-bottom">
                    <div class="position-relative">
                      <%= image_tag entreprise.photos[0].image.url(:medium) if entreprise.photos.length > 0 %>
                      <div class="job-overlay bg-white"></div>
                    </div>
                    <h5 class="mb-0 position"><a href="page-job-detail.html" class="text-dark"><%= entreprise.reviews.count %> Feedback</a>
                      <ul class="list-unstyled h6 mb-0 text-warning">
                        <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                        <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                        <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                        <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                        <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                      </ul>
                    </h5>
                    <ul class="list-unstyled head mb-0">
                      <li class="badge badge-success badge-pill">Plombier</li>
                    </ul>
                  </div>

                  <div class="card-body content position-relative">
                    <!--<div class="firm-logo rounded-circle shadow bg-light text-center">
                      <img src="images/job/Circleci.svg" class="avatar avatar-md-sm" alt="">
                    </div>-->
                    <div class="company-detail text-center mt-3">
                      <h5 class="mb-0"><%= link_to entreprise.company_name, entreprise, :class => "text-dark company-name" %></h5>
                      <p class="text-muted"><%= entreprise.address %></p>
                    </div>
                    <ul class="job-facts list-unstyled">
                      <li class="list-inline-item text-muted"><i data-feather="check" class="fea icon-sm text-success mr-1"></i> <%= image_tag 'phone.png', :class => 'img-fluid' %> = <%= entreprise.phone %></li>
                      <li class="list-inline-item text-muted"><i data-feather="check" class="fea icon-sm text-success mr-1"></i> <%= image_tag 'internet.png', :class => 'img-fluid' %> = <%= entreprise.linkweb %></li>
                      <!--<li class="list-inline-item text-muted"><i data-feather="check" class="fea icon-sm text-success mr-1"></i> Information strategy</li>-->
                    </ul>
                    <%= link_to "Consulter", entreprise, :class => "btn btn-outline-primary btn-block" %>
                  </div>
                </div>
              </div><!--end col-->
            <% end %>
          <% else %>
            <% @arrReparee.each do |entreprise| %>
          <div class="col-lg-6 col-12 mb-4 pb-2">
            <div class="card job-box rounded shadow border-0 overflow-hidden">
              <div class="border-bottom">
                <div class="position-relative">
                  <%= image_tag entreprise.photos[0].image.url(:medium) if entreprise.photos.length > 0 %>
                  <div class="job-overlay bg-white"></div>
                </div>
                <h5 class="mb-0 position"><a href="page-job-detail.html" class="text-dark"><%= entreprise.reviews.count %> Feedback</a>
                  <ul class="list-unstyled h6 mb-0 text-warning">
                    <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                    <li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
                  </ul>
                </h5>
                <ul class="list-unstyled head mb-0">
                  <li class="badge badge-success badge-pill">Plombier</li>
                </ul>
              </div>

              <div class="card-body content position-relative">
                <!--<div class="firm-logo rounded-circle shadow bg-light text-center">
                  <img src="images/job/Circleci.svg" class="avatar avatar-md-sm" alt="">
                </div>-->
                <div class="company-detail text-center mt-3">
                  <h5 class="mb-0"><%= link_to entreprise.company_name, entreprise, :class => "text-dark company-name" %></h5>
                  <p class="text-muted"><%= entreprise.address %></p>
                </div>
                <ul class="job-facts list-unstyled">
                  <li class="list-inline-item text-muted"><i data-feather="check" class="fea icon-sm text-success mr-1"></i> <%= image_tag 'phone.png', :class => 'img-fluid' %> = <%= entreprise.phone %></li>
                  <li class="list-inline-item text-muted"><i data-feather="check" class="fea icon-sm text-success mr-1"></i> <%= image_tag 'internet.png', :class => 'img-fluid' %> = <%= entreprise.linkweb %></li>
                  <!--<li class="list-inline-item text-muted"><i data-feather="check" class="fea icon-sm text-success mr-1"></i> Information strategy</li>-->
                </ul>
                <%= link_to "Consulter", entreprise, :class => "btn btn-outline-primary btn-block" %>
              </div>
            </div>
          </div><!--end col-->
            <% end %>
          <% end %>
        </div><!--end row-->
<%# <%= paginate @products %>
        <div class="row">
          <!-- PAGINATION START
          <div class="col-12">
            <ul class="pagination justify-content-center mb-0">
              <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous">Prev</a></li>
              <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next">Next</a></li>
            </ul>-->
          </div><!--end col-->
          <!-- PAGINATION END -->
        </div><!--end row-->
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- Job List End -->

    <div class="row">
  <%#     <% if @arrReparee.empty?
        Aucuns artisans actuellement enregistré
      <% else
        <% @arrReparee.each do |entreprise|
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading preview">
                <%= image_tag entreprise.photos[0].image.url(:medium) if entreprise.photos.length > 0
              </div>
              <div class="panel-body">
                <%= link_to entreprise.company_name, entreprise
              </div>
            </div>
          </div>
        <% end
      <% end %>
    </div>




<!-- Page Content
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">-->

        <!-- Search Filter
        <div class="card search-filter">
          <div class="card-header">
            <h4 class="card-title mb-0">Recherche d'artisan</h4>
          </div>-->


      <%#    <%= search_form_for @searchies, url: search_path do |f|
            <div class="card-body">
              <div class="filter-widget">
                  <%= f.text_field :address_cont, placeholder:"Ville", class:"form-control"
              </div>
              <%= f.select :artisan_type_eq, [["Plombier","Plombier"],["Serrurier","Serrurier"]], id: "artisan_type", prompt:"A sélectionner...", class:"form-control"
                <%= f.submit "Rechercher", class:"btn btn-block"
              </div>
            </div>
          <% end
        </div>
        <!-- /Search Filter -->

      </div>

      <div class="col-md-12 col-lg-8 col-xl-9">

        <!-- Doctor Widget -->
        <% if @products.empty?
          Aucuns artisans actuellement enregistré
        <% else
          <% @products.each do |entreprise|
        <div class="card">
          <div class="card-body">
            <div class="doctor-widget">
              <div class="doc-info-left">
                <div class="doctor-img">
                  <a href="doctor-profile.html">
                    <%= image_tag entreprise.photos[0].image.url(:medium) if entreprise.photos.length > 0
                  </a>
                </div>
                <div class="doc-info-cont">
                  <h4 class="doc-name"><%= link_to entreprise.company_name, entreprise </h4>
                  <p class="doc-speciality"><%= image_tag 'maps-and-location.png', :class => "img-fluid" <%= entreprise.address </p>
                  <% if entreprise.artisan_type == 'Plombier'
                  <h5 class="doc-department"><%= image_tag 'repair.png', :class => "img-fluid" Plombier</h5>
                    <% else
                    <h5 class="doc-department"><%= image_tag 'password.png', :class => "img-fluid" Serrurier</h5>
                    <% end
                  <div class="rating">
                    <!--<span class="d-inline-block average-rating">(17)</span>-->
                  </div>
                  <div class="clinic-services">
                    <% if entreprise.artisan_type == 'Plombier'
                      <span>Dépannage de fuite</span>
                      <span>Débouchage de canalisation</span>
                      <span>Remplacement de lavabo</span>
                    <% elsif entreprise.artisan_type == 'Serrurier'
                      <span>Ouverture de Porte Fermée</span>
                      <span>Remplacement de Serrure</span>
                      <span>Installation Verrou de sécurité</span>
                    <% end
                  </div>
                </div>
              </div>
              <div class="doc-info-right">
                <div class="clini-infos">
                  <ul>
                    <li><i class="far fa-thumbs-up"></i> 98%</li>
                    <li><i class="far fa-comment"></i> <%= entreprise.reviews.count  Feedback</li>
                    <li><%= image_tag 'phone.png', :class => 'img-fluid'  = <%= entreprise.phone </li>
                  </ul>
                </div>
                <div class="clinic-booking">
                  <%= link_to 'Voir le profil', entreprise, :class => "apt-btn"
                </div>
              </div>
            </div>
          </div>
        </div>

          <% end
        <% end
        <!-- /Doctor Widget -->



      </div>
    </div>

  </div>

</div>
<!-- /Page Content -->
    %>