<%= content_for :meta_title, "Fonctionnalités | #{DEFAULT_META["meta_title"]}" %>
<%= content_for :meta_description, "Détails des fonctionnalités | #{DEFAULT_META["meta_description"]}" %>
<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title"> Services </h4>
          <div class="page-next">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><%= link_to 'Accueil', root_path %></li>
                <!--<li class="breadcrumb-item"><a href="#">Page</a></li>-->
                <li class="breadcrumb-item active" aria-current="page"><%= link_to 'Services', services_path, :class => "breadcrumb-item active" %></li>
              </ul>
            </nav>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!--Shape End-->

<!-- Feature Start -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="features mt-5">
          <div class="image position-relative d-inline-block">
            <%= image_tag "icon/pen", :class => "avatar avatar-small", :alt => "stylo" %>
          </div>

          <div class="content mt-4">
            <h4 class="title-2">Artisans expérimentés</h4>
            <p class="text-muted mb-0">Reparee ne référence que des artisans qualifiés.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-4 col-12 mt-5">
        <div class="features">
          <div class="image position-relative d-inline-block">
            <%= image_tag "icon/video", :class => "avatar avatar-small", :alt => "video" %>
          </div>

          <div class="content mt-4">
            <h4 class="title-2">Annuaire des artisans</h4>
            <p class="text-muted mb-0">Reparee permet de référencer des artisans pour qu'ils aient de la visibilité auprès des particuliers.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-4 col-12 mt-5">
        <div class="features">
          <div class="image position-relative d-inline-block">
            <%= image_tag "icon/intellectual", :class => "avatar avatar-small", :alt => "intellectual" %>
          </div>

          <div class="content mt-4">
            <h4 class="title-2">Stratagy & Research</h4>
            <p class="text-muted mb-0">It seems that only fragments of the original text remain in the Lorem Ipsum fragments texts used today.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-4 col-12 mt-5">
        <div class="features">
          <div class="image position-relative d-inline-block">
            <%= image_tag "icon/user", :class => "avatar avatar-small", :alt => "utilisateur" %>
          </div>

          <div class="content mt-4">
            <h4 class="title-2">Service 7j/7 intervention 24h/24</h4>
            <p class="text-muted mb-0">Vous pouvez prendre rendez-vous avec un artisan à n'importe quel moment.</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-4 col-12 mt-5">
        <div class="features">
          <div class="image position-relative d-inline-block">
            <%= image_tag "icon/calendar", :class => "avatar avatar-small", :alt => "calendrier" %>
          </div>

          <div class="content mt-4">
            <h4 class="title-2">Prise de rendez-vous en ligne</h4>
            <p class="text-muted mb-0">Vous prenez rendez-vous avec l'artisan qui correspond à vos besoins et vous serez en contact directement avec lui.<br> Pour un artisan la plateforme permet d'avoir un système de gestion de rendez-vous</p>
          </div>
        </div>
      </div><!--end col-->

      <div class="col-md-4 col-12 mt-5">
        <div class="features">
          <div class="image position-relative d-inline-block">
            <%= image_tag "icon/sand-clock", :class => "avatar avatar-small", :alt => "sablier" %>
          </div>

          <div class="content mt-4">
            <h4 class="title-2">Vérification des artisans</h4>
            <p class="text-muted mb-0">Reparee vérifie la qualité du travail des artisans avant de les référencer sur la plateforme ce qui garantie un travail de qualité.</p>
          </div>
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title mb-4 pb-2">
          <h4 class="title mb-4">Avis des clients</h4>
          <p class="text-muted para-desc mx-auto mb-0">Commencer à travailler avec <span class="text-primary font-weight-bold">Reparee</span> pour de trouver l'artisan qu'il vous faut ou si vous êtes artisans cela permettra de gagner en visiblité parmis des centaines de visiteurs quotidien qui viennent sur la plateforme.</p>
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row justify-content-center">
      <div class="col-lg-12 mt-4">
        <div id="customer-testi" class="owl-carousel owl-theme">
          <div class="media customer-testi m-2">
            <%= image_tag "smb-logo.png", :class => "img-fluid", :alt => "smb-logo" %>
            <div class="media-body content p-3 shadow rounded bg-white position-relative">
              <ul class="list-unstyled mb-0">
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
              </ul>
              <p class="text-muted mt-2">" Reparee m'a permit d'augmenter considérablement le chiffre d'affaire de mon entreprise. "</p>
              <h6 class="text-primary">- SMB </h6>
            </div>
          </div>

          <div class="media customer-testi m-2">
            <%= image_tag "smb-logo.png", :class => "img-fluid", :alt => "smb-logo" %>
            <div class="media-body content p-3 shadow rounded bg-white position-relative">
              <ul class="list-unstyled mb-0">
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star-half text-warning"></i></li>
              </ul>
              <p class="text-muted mt-2">" Prise de contact rapide et facile. Artisans très professionnels, je recommande ! "</p>
              <h6 class="text-primary">- SMB </h6>
            </div>
          </div>
<!--
          <div class="media customer-testi m-2">
            <img src="images/client/03.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
            <div class="media-body content p-3 shadow rounded bg-white position-relative">
              <ul class="list-unstyled mb-0">
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
              </ul>
              <p class="text-muted mt-2">" The most well-known dummy text is the 'Lorem Ipsum', which is said to have originated in the 16th century. "</p>
              <h6 class="text-primary">- Carl Oliver <small class="text-muted">P.A</small></h6>
            </div>
          </div>-->
<!--
          <div class="media customer-testi m-2">
            <img src="images/client/04.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
            <div class="media-body content p-3 shadow rounded bg-white position-relative">
              <ul class="list-unstyled mb-0">
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
              </ul>
              <p class="text-muted mt-2">" According to most sources, Lorum Ipsum can be traced back to a text composed by Cicero. "</p>
              <h6 class="text-primary">- Christa Smith <small class="text-muted">Manager</small></h6>
            </div>
          </div>

          <div class="media customer-testi m-2">
            <img src="images/client/05.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
            <div class="media-body content p-3 shadow rounded bg-white position-relative">
              <ul class="list-unstyled mb-0">
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
              </ul>
              <p class="text-muted mt-2">" There is now an abundance of readable dummy texts. These are usually used when a text is required. "</p>
              <h6 class="text-primary">- Dean Tolle <small class="text-muted">Developer</small></h6>
            </div>
          </div>

          <div class="media customer-testi m-2">
            <img src="images/client/06.jpg" class="avatar avatar-small mr-3 rounded shadow" alt="">
            <div class="media-body content p-3 shadow rounded bg-white position-relative">
              <ul class="list-unstyled mb-0">
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
                <li class="list-inline-item"><i class="mdi mdi-star text-warning"></i></li>
              </ul>
              <p class="text-muted mt-2">" Thus, Lorem Ipsum has only limited suitability as a visual filler for German texts. "</p>
              <h6 class="text-primary">- Jill Webb <small class="text-muted">Designer</small></h6>
            </div>
          </div>-->
        </div>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- Feature Start -->





