<div class="container">
  <div class="heading-title text-center">
    <h1 class="text-uppercase">Notre équipe Reparee </h1>
  </div>
  <div class="row">

    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "steven-reparee.jpg", :class => "img-responsive" %>
        </div>
        <div class="team-hover">
          <div class="desk">
            <h4>Hi There !</h4>
            <p>Mathématicien, ingénieur en finance, j'ai travaillé pour HSBC pendant plusieurs années avant de venir mettre à profit mes compétences chez Reparee.</p>
          </div>
          <div class="s-link">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="team-title">
        <h5>Steven Wisniak</h5>
        <span>Directeur technique</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "edgar-reparee.jpg", :class => "img-responsive" %>
        </div>
        <div class="team-hover">
          <div class="desk">
            <h4>Hello tout le monde</h4>
            <p>Ingénieur en informatique, ayant une bonne connaissance du monde du BTP, j'ai cherché une solution pour innover et faciliter ce secteur. Reparee sera votre nouvelle solution idéale et indispensable ! </p>
          </div>
          <div class="s-link">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="team-title">
        <h5>Edgar Bekier</h5>
        <span>Fondateur & CEO</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "arthur-reparee.jpg", :class => "img-responsive" %>
        </div>
        <div class="team-hover">
          <div class="desk">
            <h4>I love to design</h4>
            <p>Influenceur et entrepreneur du web depuis mon enfance, je rejoins Reparee pour augmenter la notoriété de la plateforme.</p>
          </div>
          <div class="s-link">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="team-title">
        <h5>Arthur Benchetrit</h5>
        <span>Marketing Manager</span>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "camille-reparee.jpg", :class => "img-responsive" %>
        </div>
        <div class="team-hover">
          <div class="desk">
            <h4>Hi There !</h4>
            <p>Diplômée d'une grande école de commerce, Reparee m'a semblé être le projet parfait pour me lancer dans la vie professionnelle.</p>
          </div>
          <div class="s-link">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="team-title">
        <h5>Camille Counquet</h5>
        <span>Directrice commerciale</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <%= image_tag "polo-reparee.jpg", :class => "img-responsive" %>
        </div>
        <div class="team-hover">
          <div class="desk">
            <h4>Hi There !</h4>
            <p>Après plusieurs années en tant que business developer dans des grands groupes, j'ai décidé de rejoindre l'aventure Reparee.</p>
          </div>
          <div class="s-link">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="team-title">
        <h5>Roland Revel</h5>
        <span>Business developer</span>
      </div>
    </div>

  </div>

</div>