<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Mes entreprises", entreprises_path, class:"sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Mes réservations", vos_reservations_path, class:"sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Mes rendez-vous", vos_rendez_vous_path, class:"sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-defautl">
      <div class="panel-heading"> Mes demandes de rendez-vous</div>
      <div class="panel-body">
        <% @rdv.order("id DESC").each do |r| %>
          <div class="row">
            <div class="col-md-2">
              Du <%= r.start_date.strftime('%d.%m.%y') %> à <%= r.hour %><%= r.minute %>
            </div>
            <div class="col-md-2">
              <%= link_to entreprise_path(r.entreprise) do %>
                <%= image_tag r.entreprise.photos[0].image.url(:thumb) if r.entreprise.photos.length > 0 %>
              <% end %>
            </div>
            <div class="col-md-2">
              <%= link_to user_path(r.entreprise.user) do %>
                <%= image_tag avatar_url(r.entreprise.user), class:"im-circle avatar-medium" %>
              <% end %>
            </div>
            <div class="col-md-2">
              <p><%= r.description %></p>
            </div>
            <div class="col-md-2">
              <%= r.address %>, <%= r.postal_code %>
            </div>
            <div class="col-md-2">
              <%= r.phone %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>