<!-- Hero Start -->
<section class="bg-home d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 col-md-6">
        <div class="mr-lg-5">
          <%= image_tag "artisan-signin.jpeg", :class => "img-fluid d-block mx-auto", :alt => "artisan-connexion" %>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="card login-page bg-white shadow rounded border-0">
          <div class="card-body">
            <h4 class="card-title text-center">Connexion test</h4>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <form class="login-form mt-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group position-relative">
                    <label>Votre mail <span class="text-danger">*</span></label>
                    <i data-feather="user" class="fea icon-sm icons"></i>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control pl-5", placeholder: "Adresse email" %>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group position-relative">
                    <label>Mot de passe <span class="text-danger">*</span></label>
                    <i data-feather="key" class="fea icon-sm icons"></i>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control pl-5", placeholder: "Mot de passe" %>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="d-flex justify-content-between">
                    <div class="form-group">
                      <div class="custom-control custom-checkbox">
                        <% if devise_mapping.rememberable? %>
                          <div class="field">
                            <%= f.check_box :remember_me, :class => "custom-control-input" %>
                            <%= f.label :remember_me, :class => "custom-control-label" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <%= link_to 'Vous ne possèder pas de compte ?', new_user_registration_path, class: 'text-dark font-weight-bold' %>
                  </div>
                </div>
                <div class="col-lg-12 mb-0">
                  <%= f.submit "Connexion", class: "btn btn-primary btn-block" %>
                <div class="col-12 text-center">
                  <p class="mb-0 mt-3"><small class="text-dark mr-2">Vous ne possèder pas de compte ?</small> <%= link_to 'Inscription', new_user_registration_path, class: 'text-dark font-weight-bold' %></p>
                </div>
              </div>
            </form>
            <% end %>
          </div>
        </div><!---->
      </div> <!--end col-->
    </div><!--end row-->
  </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->
