<!-- Footer -->
<footer class="footer">

  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <%= image_tag 'logo-reparee.png' %>
            </div>
            <div class="footer-about-content">
              <p>Annuaire pour les artisans de France qui cherchent à développer leurs clientèles et pour les personnes qui ont besoin du meilleur artisan pour réaliser le meilleur dépannage. </p>
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Footer Widget -->

        </div>

        <div class="col-lg-6 col-md-6 text-center">

          <!-- Footer Widget -->
          <div class="footer-widget footer-menu">
            <h2 class="footer-title">Liens utiles</h2>
            <ul>
              <li><%= link_to 'Abonnement', abonnement_path %></li>
              <li><%= link_to 'Nos valeurs', features_path %></li>
              <li><%= link_to 'Equipe', team_path %></li>
              <li><%= link_to 'FAQ', faq_path %></li>
              <li><%= link_to 'Contact', new_contact_path %></li>
            </ul>
          </div>
          <!-- /Footer Widget -->

        </div>


        <div class="col-lg-3 col-md-6">

          <!-- Footer Widget -->
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contactez-nous</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <p> 84 avenue de la république, Paris,<br> 75011 </p>
              </div>
              <p>
                <i class="fas fa-phone-alt"></i>
                06.98.05.87.88
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
                support@reparee.com
              </p>
            </div>
          </div>
          <!-- /Footer Widget -->

        </div>

      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container-fluid">

      <!-- Copyright -->
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="copyright-text">
              <p class="mb-0">&copy; 2020 Reparee. Tous droits réservés.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">

            <!-- Copyright Menu
            <div class="copyright-menu">
              <ul class="policy-menu">
                <li><a href="term-condition.html">Terms and Conditions</a></li>
                <li><a href="privacy-policy.html">Policy</a></li>
              </ul>
            </div>
             -->

          </div>
        </div>
      </div>
      <!-- /Copyright -->

    </div>
  </div>
  <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->