<!-- Footer Start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
        <a href="#" class="logo-footer">
          <%= image_tag 'logo-reparee.png', :alt => "logo-reparee" %>
        </a>
        <p class="mt-4">Annuaire pour les artisans de France qui cherchent à développer leurs clientèles et pour les personnes qui ont besoin du meilleur artisan pour réaliser le meilleur dépannage.</p>
        <ul class="list-unstyled social-icon social mb-0 mt-4">
          <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
        </ul><!--end icon-->
      </div><!--end col-->

      <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <h4 class="text-light footer-head">Entreprise</h4>
        <ul class="list-unstyled footer-list mt-4">
          <li><%= link_to 'Abonnement', abonnement_path %></li>
          <li><%= link_to 'Nos valeurs', features_path %></li>
          <li><%= link_to 'Equipe', team_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
          <li><%= link_to 'Contact', new_contact_path %></li>
        </ul>
      </div><!--end col-->

      <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <h4 class="text-light footer-head">Liens utiles</h4>
        <ul class="list-unstyled footer-list mt-4">
          <li><i class="mdi mdi-chevron-right mr-1"></i><%= link_to 'Politique de confidentialité', politique_de_confidentialite_path, :class => "text-foot" %></li>
          <li><i class="mdi mdi-chevron-right mr-1"></i><%= link_to 'Mentions légales', mentions_legales_path, :class => "text-foot" %></li>
          <li><i class="mdi mdi-chevron-right mr-1"></i><%= link_to 'Conditions générales de ventes', cgv_path, :class => "text-foot" %></li>
        </ul>
      </div><!--end col-->

      <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <h4 class="text-light footer-head">Contactez-nous</h4>
        <p class="mt-4">Sign up and receive the latest tips via email.</p>
        <form>
          <div class="row">
            <div class="col-lg-12">
              <div class="foot-subscribe form-group position-relative">
                <label>Write your email <span class="text-danger">*</span></label>
                <i data-feather="mail" class="fea icon-sm icons"></i>
                <input type="email" name="email" id="emailsubscribe" class="form-control pl-5 rounded" placeholder="Your email : " required>
              </div>
            </div>
            <div class="col-lg-12">
              <input type="submit" id="submitsubscribe" name="send" class="btn btn-soft-primary btn-block" value="Subscribe">
            </div>
          </div>
        </form>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</footer><!--end footer-->
<footer class="footer footer-bar">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="text-sm-left">
          <p class="mb-0">&copy; 2020 Reparee. Tous droits réservés.</p>
        </div>
      </div><!--end col-->

      <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <ul class="list-unstyled text-sm-right mb-0">
          <%= image_tag "payments/american-ex.png", :class => "avatar avatar-ex-sm" %>
          <%= image_tag "payments/discover.png", :class => "avatar avatar-ex-sm" %>
          <%= image_tag "payments/master-card.png", :class => "avatar avatar-ex-sm" %>
          <%= image_tag "payments/paypal.png", :class => "avatar avatar-ex-sm" %>
          <%= image_tag "payments/visa.png", :class => "avatar avatar-ex-sm" %>
        </ul>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</footer><!--end footer-->
<!-- Footer End -->

<!-- Back to top -->
<a href="#" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
<!-- Back to top -->