<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>

    <meta name="description" content="<%= meta_description %>">
    <meta charset="utf-8"/>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Bootstrap -->
    <!-- Icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <%= render 'layouts/partials/google-analytics' %>
  </head>

  <body class="account-page">
  <!-- Main Wrapper -->
  <div class="main-wrapper">
      <%= render 'shared/message' %>
          <%= render 'layouts/menu' %>
          <%= yield %>
          <%= render 'layouts/footer' %>
  </div>
  <%= render 'cookies_eu/consent_banner' %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $(document).ready(function() {
          $('.navbar-toggle').on('click', function (event) {
              $(this).toggleClass('open');
              $('#navigation').slideToggle(400);
          });

          if ($(window).width() < 960) {
              $(".sticky").addClass("nav-sticky");
              $("#imgwhite").attr("src", "assets/logo-reparee.png");
          }
      });
  </script>
  </body>
</html>
